:root {
    --color-primary: #269fe6;
    --color-primary-hover: #2086c2;
    --color-primary-dark: #13141f;
    --color-primary-dark-hover: #212336;
    --color-primary-light: #d4ecfa;
    --color-primary-light-hover: #bdd8e7;

    --color-white: #fff;
    --color-black: #000;

    --color-dark-text: #444;
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;

    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;

    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;

    --font-primary: sans-serif;
    --font-headings: "Roboto Slab", serif;

    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-primary);
    background-color: var(--color-gray-1);
    color: var(--color-dark-text);
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-headings);
}

.main-header-container {
    background: var(--color-primary-dark);
}

.container {
    max-width: 144rem;
    margin: 0 auto;
    text-align: center;
    padding: var(--spacing-gutter-medium);
}

.main-logo {
    font-size: 4rem;
    text-decoration: none;
    color: var(--color-white);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    font-family: var(--font-headings);
    font-weight: 900;
    gap: 2rem;
}

.search-field, .search-button {
    border: none;
    background: none;
    outline: none;
    padding: 1rem;
}

.search-form {
    border: .2rem solid var(--color-primary-dark);
    max-width: 64rem;
    min-width: 50vw;
    margin: 0 auto;
    border-radius: .4rem;
    position: relative;
    transition: all 300ms ease-in-out;
}

.search-button {
    position: absolute;
    top: 0;
    right: 0;
    transition: all 300ms ease-in-out;
}

.search-field {
    width: 100%;
    padding-right: 4rem;
    transition: all 300ms ease-in-out;
}

.search-form:focus-within {
    border-color: var(--color-primary);
    background-color: var(--color-white);
}

.search-form:focus-within .search-button {
    color: var(--color-primary);

}

.search-button:focus, .search-button:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.main-content {
    padding-top: 0;
}

.main-content-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: var(--spacing-gutter-large);
}

.recipe {
    background-color: var(--color-white);
    box-shadow: -5px 5px 10px rgba(0, 0, 0, .2);
    transition: all 300ms ease-in-out;
    overflow: hidden;
    border-radius: .5rem;
}

.recipe img {
    max-width: 100%;
}

.main-content-list .recipe-list-item {
    max-width: 64rem;
    height: fit-content;
}

.main-content-list .recipe-list-item:hover {
    transform: scale(1.02);
    box-shadow: -10px 10px 10px rgba(0, 0, 0, .3);
}

.recipe-title-container {
    padding: var(--spacing-gutter-medium);
    padding-bottom: 2rem;
}

.recipe-author {
    padding: 0 var(--spacing-gutter-medium);
}

.recipe-author a {
    color: var(--color-primary);
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.recipe-author a:hover {
    color: var(--color-primary-dark);
}

.recipe-author-item {
    color: var(--color-gray-4);
}

.recipe-content {
    padding: var(--spacing-gutter-medium);
    padding-top: 2rem;
    text-align: justify;
}

.recipe-meta-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: var(--spacing-gutter-medium);
    background-color: var(--color-gray-1);
}

.recipe-meta {
    display: flex;
    flex-flow: column nowrap;
    gap: .2rem;
}

.recipe-meta-title {
    font-size: 1.6rem;
}

.recipe-footer a {
    background-color: var(--color-primary-dark);
    display: flex;
    flex-flow: row nowrap;
    color: var(--color-white);
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 1.4rem;
    gap: 1rem;
}

.recipe-footer a:hover {
    filter: brightness(2);
}

.main-footer {
    padding: var(--spacing-gutter-large);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary-dark);
    font-weight: bold;
    color: var(--color-white);
    justify-self: flex-end;
    margin-top: auto;
}

.main-footer a {
    color: var(--color-white);
    font-weight: bold;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.main-footer a:hover {
    filter: brightness(.8);
}

.main-content-detail .recipe-list-item {
    margin: 0 auto;
    max-width: 84rem;
}

.preparation-steps{
    padding: 3rem 4rem;
    text-align: justify;
}